@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
  font-family: 'Venus Rising';
  src: url('./assets/fonts/VenusRisingRegular/font.woff2') format('woff2'),
       url('./assets/fonts/VenusRisingRegular/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Venus Rising';
  src: url('./assets/fonts/VenusRisingBold/font.woff2') format('woff2'),
       url('./assets/fonts/VenusRisingBold/font.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Venus Rising';
  src: url('./assets/fonts/VenusRisingHeavy/font.woff2') format('woff2'),
       url('./assets/fonts/VenusRisingHeavy/font.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fafafa;
	--background: #0b0b12;

  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow: hidden;
}

.w-aside {
	@apply w-full sm:w-[400px] 2xl:w-[480px];
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.bg-dark {
	@apply bg-secondary-1500
}

.saber-glow {
  @apply hover:border-secondary-50 
	hover:drop-shadow-[0px_0px_16px_rgba(91,33,182,.92)]
	disabled:hover:drop-shadow-none
	
	group-hover:border-secondary-50 
	group-hover:drop-shadow-[0px_0px_16px_rgba(91,33,182,.92)]
	disabled:group-hover:drop-shadow-none;
}

.saber-glow-reset {
	@apply hover:!border-transparent 
	hover:!drop-shadow-none
	
	group-hover:!border-transparent 
	group-hover:!drop-shadow-none
	
	disabled:hover:!drop-shadow-none
	disabled:group-hover:!drop-shadow-none;
}

.shimmer {
  background: linear-gradient(90deg, #1a1a1a 30%, #4a4a4a 60%, #1a1a1a 70%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.shimmer-slow-ride {
	background: linear-gradient(45deg, #09090c 30%, #000 60%, #09090c 70%);
	background-size: 200% 100%;
	animation: shimmer 16.5s infinite;
}

.theme-disabled-attention {
	@apply !text-neutral-500;
}

.theme-disabled {
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#404040 0deg,
				#0a0a0a 90deg,
				#404040 180deg,
				#0a0a0a 270deg,
				#404040 360deg
			);
		animation: rotate 24s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-cta {
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#494440 0deg,
				#0f0a0a 90deg,
				#494440 180deg,
				#0f0a0a 270deg,
				#494440 360deg
			);
		animation: rotate 24s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-sim {
	position: relative;
	z-index: 0;
	overflow: hidden;
	color: #2e1065 !important;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#000 0deg,
				#000 60deg,
				#2e1065 60deg,
				#2e1065 120deg,
				#000 120deg,
				#000 180deg,
				#2e1065 180deg,
				#2e1065 240deg,
				#000 240deg,
				#000 300deg,
				#2e1065 300deg,
				#2e1065 360deg
			);
		animation: rotate 8s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-write {
	position: relative;
	z-index: 0;
	overflow: hidden;
	color: #a78bfa !important;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#000 0deg,
				#000 60deg,
				#a78bfa 60deg,
				#a78bfa 120deg,
				#000 120deg,
				#000 180deg,
				#a78bfa 180deg,
				#a78bfa 240deg,
				#000 240deg,
				#000 300deg,
				#a78bfa 300deg,
				#a78bfa 360deg
			);
		animation: rotate 8s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-confirm {
	position: relative;
	z-index: 0;
	overflow: hidden;
	color: #a78bfa !important;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#7c3aed 0deg,
				#c4b5fd 90deg,
				#7c3aed 180deg,
				#c4b5fd 270deg,
				#7c3aed 360deg
			);
		animation: rotate 2s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-warn {
	position: relative;
	z-index: 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -525%;
		width: 200%;
		height: 1200%;
		background-repeat: no-repeat;
		background-image:
			conic-gradient(
				from 0deg at 50% 50%,
				#f59e0b 0deg,
				#a53e0b 90deg,
				#f59e0b 180deg,
				#a53e0b 270deg,
				#f59e0b 360deg
			);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #0a0a0a;
		border-radius: 0.5rem;
	}
}

.theme-error {
	@apply !border-error-400 !text-error-400;
}

.bg-grill-950 {
	background-color: transparent;
	background-image: radial-gradient(transparent 1px, #09090c 1px);
	background-size: 4px 4px;
	backdrop-filter: blur(3px);
	opacity: 1;
}

.bg-grill-900-even {
  @apply even:bg-transparent even:bg-[radial-gradient(transparent_1px,_#101010_1px)] even:bg-[length:4px_4px] even:backdrop-blur even:opacity-100;
}

.markdown h1 {
	@apply text-2xl font-bold;
}

.markdown h2 {
	@apply text-lg font-bold;
}

.markdown p {
	@apply text-sm;
}
